<div class="grid grid-cols-3 w-8/12 m-4 h-96 gap-5">
    <div class="flex flex-col items-center bg-gray-200 text-center drop-shadow-md"> 
        <div class="h-1/4 bg-gray-500 w-full"> IMG </div>
            <h1 class="mt-8"> Soporte profesional </h1>
            <P class="mt-4 text-sm"> Obtenga ayuda profesional cuando lo necesite</P>
            <div class="text-blue-500 hover:underline mt-32 text-sm"><a href="/assistence"> Contactanos ahora</a> </div>
        </div>
    <div class="flex flex-col items-center bg-gray-200 text-center drop-shadow-md"> 
        <div class="h-1/4 bg-gray-500 w-full"> IMG </div>
            <h1 class="mt-8"> Equipo para el trabajo </h1>
            <P class="mt-4 text-sm"> Contamos con las herramientas necesarias el servicio que busca</P>
            <div class="text-blue-500 hover:underline mt-32 text-sm"> <a href="/assistence"> Contactanos ahora</a> </div>
        </div>
        <div class="flex flex-col items-center bg-gray-200 text-center drop-shadow-md"> 
        <div class="h-1/4 bg-gray-500 w-full"> IMG </div>
            <h1 class="mt-8"> Simplifique su infraestructura </h1>
            <P class="mt-4 text-sm"> La mayoría de los responsables de la toma de decisiones de TI considera que la TI es ahora más compleja que hace dos años</P>
            <div class="text-blue-500 hover:underline text-sm mt-28"> <a href="/assistence"> Contactanos ahora</a> </div>
        </div>
</div>