<div class="bg-white h-24 grid grid-cols-8 gap 5  list-none border-t-2 border-gray-300 text-gray-600 fixed bottom-0">
        <li class="self-center hover:text-blue-500 duration-300 justify-self-center overline"><a href="/assistence"> Contacto </a></li>
        <li class="self-center hover:text-blue-500 duration-300 justify-self-center overline"><a href=""> Privacidad </a></li>
        <li class="self-center hover:text-blue-500 duration-300 justify-self-center overline"><a href="/usage_terms"> Términos de uso </a></li>
        <li class="self-center hover:text-blue-500 duration-300 justify-self-center overline"><a href=""> Accesibilidad </a></li>
        <li class="self-center hover:text-blue-500 duration-300 justify-self-center overline"><a href=""> Cookies </a></li>
        <li class="self-center hover:text-blue-500 duration-300 justify-self-center overline"><a href="/assistence"> Asistencia </a></li>
</div>
