<footer>
  <div class="contacto grid grid-cols-3 m-4">
    <ul>
      <span class="font-medium">Números teléfonicos</span>
      <li>S-Tech Lerdo: 5270 3000</li>
      <li>S-Tech Torreón: 5270 4000</li>
      <li class="font-medium mt-2">Para solicitar servicio técnico</li>
      <li>001-866-434-2080</li>
    </ul>
    <ul class="top-responsive">
      <span class="font-medium">Soporte</span>
      <li class="hover:text-blue-500 duration-200 cursor-pointer">Twitter</li>
      <li class="hover:text-blue-500 duration-200 cursor-pointer">Facebook</li>
      <li class="hover:text-blue-500 duration-200 cursor-pointer">Instagram</li>
    </ul>
    <ul class="top-responsive">
      <span class="font-medium"> Más información </span>
      <p>
        Anteriores socios, visiten el sitio AfterSTECH para obtener información
        sobre los beneficios o llamen al 800-796-9876
      </p>
    </ul>
  </div>
  <div class="m-4 text-gray-600">
    <strong>2022 &copy; STECH</strong>
    <div>
      <a
        class="hover:text-blue-500 duration-300"
        style="text-decoration: underline;"
        href="/terminos-de-uso"
      >Términos de uso</a>
      <a
        class="hover:text-blue-500 duration-300 m-5"
        style="text-decoration: underline;"
        href="/manual-de-usuario"
      >Manual de usuario</a>
      <a
        class="hover:text-blue-500 duration-300"
        style="text-decoration: underline;"
        href="/manual-tecnico"
      >Manual Técnico</a>
    </div>
  </div>
</footer>