
        <li class="self-center hover:text-blue-500 duration-300 justify-self-center overline">Privacidad</li>
        <li class="self-center hover:text-blue-500 duration-300 justify-self-center overline"><a href="/usage_terms">Términos de uso</a></li>
        <li class="self-center hover:text-blue-500 duration-300 justify-self-center overline"><a href="/assistence">Asistencia</a></li>