<div class="mt-24">
  <span>
    <h1 class="text-3xl flex justify-center">Registrate aquí</h1>
    <div class="bg-blue-500 h-1 w-96 rounded-xl m-4 flex justify-start">
    </div>
  </span>
  <div class="form m-8 text-black">
    <form action="/login/signup" method="post" class="flex flex-col gap-5">
      <span>
        <h1 class="text-sm text-gray-400">Email</h1>
        <input
          type="email"
          name="email"
          class="border-gray-300 border-b-2 w-full bg-gray-50"
          required
        />
      </span>
      <div>
        <span class="flex gap-2">
          <span>
            <h2 class="text-sm text-gray-400">Nombres</h2>
            <input
              type="text"
              name="nombres"
              class="border-gray-300 border-b-2 w-full bg-gray-50"
              required
            />
          </span>
          <span>
            <h2 class="text-sm text-gray-400"> Apellidos </h2>
            <input
              type="text"
              name="apellidos"
              class="border-gray-300 border-b-2 w-full bg-gray-50"
              required
            />
          </span>
        </span>
      </div>
      <span>
        <h2 class="text-sm text-gray-400">Contraseña</h2>
        <input
          type="password"
          name="contrasena"
          class="border-gray-300 border-b-2 w-full bg-gray-50"
          required
        />
      </span>
      <span>
        <h2 class="text-sm text-gray-400">Confirmar contraseña</h2>
        <input
          type="password"
          name="confirmacion"
          class="border-gray-300 border-b-2 w-full bg-gray-50"
          required
        />
      </span>
      <input
        type="submit"
        class="bg-blue-500 cursor-pointer text-white h-12 hover:bg-blue-600 duration-200"
        value="Registrarse"
      />
      <span class="flex justify-center m-5">
        <h3>
          Ya tienes una cuenta?&nbsp;
        </h3>
        <a href="/login" class="text-blue-500 hover:underline">
          Inicia sesión aquí
        </a>
      </span>
    </form>
  </div>
</div>