<header
  class="navbar bg-white h-24 grid grid-cols-3 gap-5 border-b-2 border-gray-300"
>
  <div class="flex justify-center items-center m-4">
    <a
      href="/"
      class="flex justify-center items-center font-bold text-gray-600"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
      ><path fill="none" d="M0 0h24v24H0z"></path><path
          fill="rgb(156,163,175)"
          d="M13 15v4h3v2H8v-2h3v-4H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-7zm-8-2h14V5H5v8zm3-5h8v2H8V8z"
        ></path></svg>
      <p>STECH</p>
    </a>
  </div>
  <ul class="flex items-center justify-between m-2 text-gray-600">
    <li class="hover:text-blue-500 duration-300 cursor-pointer">
      <a href="/productos">Productos</a>
    </li>
    <li class="hover:text-blue-500 duration-300 cursor-pointer">
      <a href="/faq">FAQ</a>
    </li>
    <li class="hover:text-blue-500 duration-300 cursor-pointer">
      <a href="/soporte">Soporte</a>
    </li>
  </ul>
  <div class="flex justify-center items-center m-4">
    <a href="/perfil">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="26"
        height="26"
      ><path fill="none" d="M0 0h24v24H0z"></path><path
          fill="rgb(156,163,175)"
          d="M20 22H4v-2a5 5 0 0 1 5-5h6a5 5 0 0 1 5 5v2zm-8-9a6 6 0 1 1 0-12 6 6 0 0 1 0 12z"
        ></path></svg></a>
  </div>
</header>