<header id="nav" class="navbar bg-white h-18 grid grid-cols-7 gap-5 border-b-2 border-gray-300 fixed top-0 w-screen">
    <div class="flex justify-start items-center m-4">
        <a href="/"> Logo </a>
    </div>
</header>