<div class="bg-gray-400 grid grid-cols-2 h-144">
    <div class="flex justify-center items-center text-white text-3xl font-medium"> 
    <p class="w-1/2 text-center"> Inventa y crea cosas que cambien tu alrededor. </p>    
    </div>
    <div> IMG</div>
</div>