<div
  class="news bg-gray-400 grid grid-cols-2 h-144"
  style="
  background-image: url(https://images.unsplash.com/photo-1510519138101-570d1dca3d66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2047&q=80);
  background-position: center;
  background-size: cover;
  "
>
  <div class="flex justify-center items-center text-white text-3xl font-medium">
    <p class="w-1/2 text-center">Inventa y crea cosas que cambien tu alrededor.</p>
  </div>
</div>