<div
  class="bg-gray-200 h-144 grid grid-cols-4"
  style="
  background-image: url(https://images.unsplash.com/photo-1617802690658-1173a812650d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-position: center;
  background-size: cover;
  "
>
  <div class="col-span-3 flex text-2xl">
    <h1 class="w-1/2 m-10">
      Conozca el
      <strong> almacenamiento flash de próxima </strong>
      generación con un mejor rendimiento y capacidades únicas de resiliencia
      cibernética
      <br /><br />
      <p class="text-lg">Descubra tecnologías populares y de tendencia</p>
    </h1>
  </div>
</div>