<nav> {{>nav}} </nav>
    <div class="w-screen h-32 border-b-2 p-4 border-gray-200 flex items-center font-light">
       <p class="text-4xl p-4"> Ponte en contacto con nosotros </p>
    </div>
    <div class="grid grid-cols-3">
       <ul class="flex flex-col items-center gap-2 m-4"> 
           <span class="font-medium"> Números teléfonicos </span>
           <li>Informaciones generales</li>
           <li>S-Tech Lerdo: 5270 3000</li>
           <li>S-Tech Torreón: 5270 4000</li>
           <li class="font-medium">Para solicitar servicio técnico</li>
           <li>001-866-434-2080</li>
       </ul>
       <ul class="flex flex-col items-center gap-2 m-4"> 
           <span class="font-medium"> Soporte </span>
           <li class="hover:text-blue-500 duration-200">Email</li>
           <li class="hover:text-blue-500 duration-200">Preguntas</li>
           <li class="hover:text-blue-500 duration-200">Soporte en línea</li>
       </ul>
       <ul class="flex flex-col items-center gap-2 m-4"> 
           <span class="font-medium"> Más información </span>
           <p>
               Anteriores socios
Visite el sitio AfterS-TECH
Para obtener información sobre los beneficios,
llame al 800-796-9876
           </p>
       </ul>
    </div>
<footer> {{>footer3}} </footer>