{{>nav}}
<div>
  <div class="w-screen h-32 border-b-2 p-4 border-gray-200 flex items-center font-light">
  <p class="text-4xl p-4">FAQ</p>
</div>

<div class="terminos grid grid-cols-3">
  <div>
    <h1 class="col-span-1 flex flex-col text-3xl text-center m-2 font-bold"> 
    </h1>
  </div>
  <div class="flex m-4 col-span-2 flex-col">
    <h1 class="font-bold text-xl">¿Que actividades están al alcance de STECH?</h1>
    <br>
    <span>
      El profesional de STECH puede ayudar tanto a individuos, hogares y empresas. En diversas areas como configuración de hardware, software, sistemas operativos, redes, administración de sistemas, procesos y organizacion y seguridad TI.  <br> También depende del profesional de STECH, quien puede enfocarse en alguna de las areas anteriores, o soluciones específicas, ya que el campo de TI es muy amplio.
      <br><br>
      <h1 class="font-bold text-xl">¿Qué trabajo se realiza en STECH?</h1>
      <br>
      A nivel correctivo, el profesional de STECH resuelve incidencias, que para una empresa o individuo, es lo más prioritario, en el cual realza un diagnostivo, investigación previa y resolución de la incidencia, y posterior documentación para futuros casos.

      Pero también,  está el trabajo preventivo y mantenimiento, el cual el profesional de STECH, realiza trabajos en los equipos para que funcione de forma más óptima y segura posible.

<br><br>
<h1 class="font-bold text-xl ">¿Por que algunas personas no acuden a STECH?</h1>
<br>
Las personas no acuden a STECH, muchas veces, por la facilidad de uso de los sistemas en el que se usan de forma consumible con programas Ofimaticos, y existen problemas básicos que se pueden solucionar con el panel de ayuda del sistema operativo, sin embargo en la mayoría de los casos se tiene que hacer un proceso de resolución de incidencia. <br> <br>

También, se tiende a pensar que bajando un programa «magico» soluciona incidente, y el usuario común no sabe si está afectando el equipo de computo.

La verdad es que en la resolución de una incidencia, existe una investiación previa y un diagnostico,  y una resolución de incidencia, que el profesional de STECH está capacitado en realizar.

<br><br>
<h1 class="font-bold text-xl">¿Cuáles son sus modelos de pago?</h1>
<br>
Trabajamos solo con clientes comprometidos a largo plazo que desean servicios equivalentes a tiempo completo, el pago se realiza mediante tarjeta de credito o OXXO.

<br><br>
<h1 class="font-bold text-xl">¿Qué puede hacer si tenemos empleados de IT?</h1>
<br>
No hay problema. Muchos de nuestros clientes comerciales tienen personal de STECH existente. Si ya tiene empleados de STECH, trabajaremos con ellos para aliviar sus responsabilidades diarias para que puedan concentrarse en proyectos más grandes. Esto permite que su personal existente trabaje de manera más eficiente, ahorrando tiempo y dinero a su agencia. Ofrecemos planes personalizados basados en sus necesidades informáticas. Nuestros planes abarcan desde una cobertura del 100 por ciento hasta un monitoreo simple de la red y protección antivirus.
<br><br>
<h1 class="font-bold text-xl">¿En que sistemas operativos puede ayudar STECH?</h1>
<br>
Windows, Mac y/o Linux. Dependiendo de cada profesional de STECH.

<br><br>
<h1 class="font-bold text-xl">¿Es costoso el STECH?</h1>
<br>
Los precios varían. Sin embargo, lo más importante es que se consiga profesionales de STECH, preferiblemente con un grado o certificación, que hayan sido capacitados para solventar este tipo de incidente, y ayuden a las empresa a solucionar los incidentes, y asesorar a las empresas.

<br><br>
<h1 class="font-bold text-xl">¿Qué control tenemos sobre el proyecto?</h1>
<br>
Tendrá la capacidad de mantener un control cercano sobre el proyecto. Nuestro gerente de proyecto asignado será su único punto de contacto para la resolución de todos los problemas y trabajará estrechamente con sus pautas. La solución de STECH ha sido desarrollada específicamente para proporcionarle un control completo sobre su proyecto. Ofrecemos una transparencia y control sin igual.
    </span>
  </div>
</div>
</div>

{{>footer}}