{{>nav}}

<div class="w-screen h-32 border-b-2 p-4 border-gray-200 flex items-center font-light">
  <p class="text-4xl p-4">Manual Técnico</p>
</div>

<div class="grid grid-cols-3">
  <div>
    <h1 class="col-span-1 flex flex-col text-3xl text-center m-2 font-bold"> Fecha: 01/05/2022
    </h1>
  </div>
  <div class="flex m-4 col-span-2 flex-col">
    <h1 class="font-bold text-xl">Acerca de este manual</h1>
    <br>
    <span>
      El siguiente manual se ha desarrollado con la finalidad de dar a conocer la información necesaria para realizar mantenimiento, instalación y exploración del software STECH, el cual consta de diferentes actividades para proveer nuestros servicios a los usuarios, además de un soporte personalizado.
      <br> <br> El manual ofrece la información necesaria de ¿cómo está realizado el software? para que la persona (Desarrollador) que quiera editar el software lo haga de una manera apropiada, dando a conocer la estructura del desarrollo del aplicativo.
      <br><br>
      <h1 class="font-bold text-xl">Herramientas utilizadas para el desarrollo</h1>
      <br>
      <strong>VSCode</strong> <br>
      Visual Studio Code es un editor de código fuente desarrollado por Microsoft para Windows, Linux, macOS y Web. Incluye soporte para la depuración, control integrado de Git, resaltado de sintaxis, finalización inteligente de código, fragmentos y refactorización de código.
      Se usa para escribir el codigo.

      <br><br> <strong>GitHub</strong> <br>
      GitHub es una forja para alojar proyectos utilizando el sistema de control de versiones Git. Se utiliza principalmente para la creación de código fuente de programas de ordenador. El software que opera GitHub fue escrito en Ruby on Rails. Desde enero de 2010, GitHub opera bajo el nombre de GitHub, Inc.
      Se usa como control de versiones.

      <br><br> <strong>Heroku</strong> <br>
      Heroku es una plataforma como servicio de computación en la Nube que soporta distintos lenguajes de programación. Heroku es propiedad de Salesforce.com. Se usa para el deploy del software.

      <br><br>

      <h1 class="font-bold text-xl">Tecnologias utilizadas para el desarrollo</h1>
<br>  
      <strong>Node.JS</strong> <br>
      Node.js es un entorno en tiempo de ejecución multiplataforma, de código abierto, para la capa del servidor basado en el lenguaje de programación JavaScript, asíncrono, con E/S de datos en una arquitectura orientada a eventos y basado en el motor V8 de Google.
      Se usa como base para la aplicación.

      <br><br><strong>Express.JS</strong> <br>
      Es un marco de aplicación web de back-end para Node.js, lanzado como software gratuito y de código abierto bajo la licencia MIT. Está diseñado para crear aplicaciones web y API. Se le ha llamado el marco de servidor estándar de facto para Node.js.
      Se usa para simplificar el desarrollo con Node.JS.

      <br><br>

      <strong>MONGODB</strong> <br>
      Es un sistema de base de datos NoSQL, orientado a documentos y de código abierto. En lugar de guardar los datos en tablas, tal y como se hace en las bases de datos relacionales.
      Se usa como la base de datos principal, se almacenan los usuarios y notificaciones de pagos.

      <br><br>

      <strong>Checkout API (Mercadopago)</strong> <br>
      La integración del Checkout API de Mercado Pago para tarjetas permite que puedas ofrecer una opción de pagos completa dentro de tu sitio. Toda la experiencia sucede en tu tienda para que los clientes no tengan que salir al momento de realizar la compra.
      Se usa para que los clientes adquieran nuestor servicios con tarjeta de credito o por oxxo.

      <br><br>

      <strong>Passport.JS</strong> <br>
      Es un itermediario de Node.js para la implementacion de estrategias de autenticacion.
      Se usa para la autenticacion de los usuarios.

      <br><br>

      <strong>Joi</strong> <br>
      Es una libreria de validacion de datos basado en esquemas.
      Se usa para la validacion de la informacion de los usuarios.

      <br><br>

      <strong>Socket.IO</strong> <br>
      Es una biblioteca de JavaScript basada en eventos para aplicaciones web en tiempo real. Permite la comunicación bidireccional en tiempo real entre clientes web y servidores.
      Se usa para el desarrollo del chat.
      <br><br>

      <h1 class="font-bold text-xl">¿Como acceder al proyecto?</h1>
      <br>
      <strong>1- Clonarlo</strong>
      <br>
      <code>git clone https://github.com/seberydev/STECH.git</code>
      <br>
      <br>
      <strong>2- Instalar dependencias</strong>
      <br>
      <code>npm install</code>
      <br>
      <br>
      <strong>3- Ejecutar el proyecto localmente en modo desarrollo</strong>
      <br>
      <code>npm run dev</code>
      <br>
      <br>
      <strong>4- Comenzar a desarrollar</strong>
      <br>
      <code>;)</code>
    </span> 
  </div>
</div>

{{>footer}}