{{>nav}}

<div class="w-screen h-32 border-b-2 p-4 border-gray-200 flex items-center font-light">
  <p class="text-4xl p-4">Manual de usuario</p>
</div>

<div class="grid grid-cols-3">
  <div>
    <h1 class="col-span-1 flex flex-col text-3xl text-center m-2 font-bold"> Fecha: 01/05/2022
    </h1>
  </div>
  <div class="flex m-4 col-span-2 flex-col">
    <h1 class="font-bold text-xl">Inicio</h1>
    <br>
    <span>
      En este manual se explica paso a paso y de forma gráfica la forma en cómo usted
      puede utilizar nuestro sitio web, además de todas las opciones de búsqueda que se
      encuentran disponibles para su uso y trabajo.
      <br> Esperemos que su experiencia navegando a través de ésta página sea de lo más
      grata y logre satisfacer completamente sus expectativas y necesidades de información.
      <br><br>
      <h1 class="font-bold text-xl">Página Principal</h1>
      <br>
      <img class="object-cover h-48" src="/images/inicio.png" alt="Inicio" />
      <br>
      En la pagina principal se puede visualizar los diferentes elementos principales de nuestra empresa, es decir, los
      productos o servicio, descripcion respresentativa u otros elementos de gran relevancia, se puede acceder sin
      necesidad de un registro previo.

      <br><br>
      <h1 class="font-bold text-xl ">Productos</h1>
      <br>
      <img class="object-cover h-48" src="/images/productos.png" alt="Productos" />
      <br>
      En la pagina de productos se pueden visualizar los servicios que ofrecemos en nuestra empresa, contienen una
      descripción y título que indican lo que ofrecen, además de un link de acceso directo para adquirirlos, se puede
      acceder sin necesidad de un registro previo.
      <br><br>

      <h1 class="font-bold text-xl ">Contacto</h1>
      <br>
      <img class="object-cover h-48" src="/images/contacto.png" alt="Contacto" />
      <br>
      En la pagina de contacto se pueden visualizar las formas en las que nos pueden contactar, ya sea para adquirir un
      producto o estar atento a nuestras novedades, contiene accesos directos a nuestras redes sociales, numeros
      teléfonicos y alguna otra información relevante, se puede acceder sin necesidad de un registro previo.
      <br><br>

      <h1 class="font-bold text-xl ">Soporte</h1>
      <br>
      <img class="object-cover h-48" src="/images/contacto.png" alt="Soporte" />
      <br>
      En la pagina de soporte se puede visualizar un chat en el que podrás contactarte en tiempo real con alguno de
      nuestros compañeros de soporte y pedir más información de tu interés al instante, para acceder se requiere de un
      registro previo.
      <br><br>

      <h1 class="font-bold text-xl ">Login</h1>
      <br>
      <img class="object-cover h-48" src="/images/login.png" alt="Login" />
      <br>
      En la página de login se puede visualizar un formulario para iniciar sesión, tendrás que insertar tu correo y
      contraseña de un usuario ya registrado, se puede acceder sin necesidad de un registro previo.
      <br><br>

      <h1 class="font-bold text-xl ">Signup</h1>
      <br>
      <img class="object-cover h-48" src="/images/signup.png" alt="Signup" />
      <br>
      En la página de signup se puede visualizar un formulario para registrar a un usuario, tendrás que insertar tu
      correo, contraseña, nombres y apellidos de un usuario que no este registrado, se puede acceder sin necesidad de un
      registro previo.
      <br><br>

      <h1 class="font-bold text-xl ">Perfil</h1>
      <br>
      <img class="object-cover h-48" src="/images/perfil.png" alt="Perfil" />
      <br>
      En la página de perfil se puede cerrar sesión y acceder a tu carrito de compras, para acceder se requiere de un
      registro previo.
      <br><br>

      <h1 class="font-bold text-xl ">Carrito</h1>
      <br>
      <img class="object-cover h-48" src="/images/carrito.png" alt="Carrito" />
      <br>
      En la página de carrito se pueden realizar compras de nuestros servicios utilizando tarjeta o por oxxo, para
      acceder se requiere de un registro previo.
      <br><br>

      <h1 class="font-bold text-xl ">Términos de uso</h1>
      <br>
      <img class="object-cover h-48" src="/images/terminos.png" alt="Terminos" />
      <br>
      En la página de términos de uso se puede visualizar información sobre el consentimiento de los usuarios al entrar a la pagina, asi como que informacion recopilamos, se puede acceder sin necesidad de un registro previo.
      <br><br>

      <h1 class="font-bold text-xl ">Manual de usuario</h1>
      <br>
      <img class="object-cover h-48" src="/images/terminos.png" alt="Manual de usuario" />
      <br>
      En la página de manual de usuario se puede visualizar una ayuda a los usuarios para que puedan entender el como utilizar nuestra pagina eficientemente, se puede acceder sin necesidad de un registro previo.
      <br><br>
      
      <h1 class="font-bold text-xl ">Manual de técnico</h1>
      <br>
      <img class="object-cover h-48" src="/images/terminos.png" alt="Manual técnico" />
      <br>
      En la página de manual de técnico se puede visualizar una ayuda a los programadores para que puedan entender el como se estructura nuestra pagina, se puede acceder sin necesidad de un registro previo.
      <br><br>
    </span>
  </div>
</div>

{{>footer}}