{{>nav}}

<div class="flex justify-center items-center gap-5 m-8">
  <div class="grid grid-cols-3 gap-5">
    <div
      class="flex flex-col items-center bg-gray-200 text-center drop-shadow-md"
    >
      <div class="bg-gray-500">
        <img
          class="object-cover h-48"
          src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
          alt="Servicio"
        />
      </div>
      <h1 class="mt-4 font-bold">Soporte profesional</h1>
      <p class="mt-4 text-sm">Obtenga ayuda profesional cuando lo necesite</p>
      <div class="text-blue-500 hover:underline m-8 text-sm">
        <a href="/carrito">Comprar ahora</a>
      </div>
    </div>
    <div
      class="flex flex-col items-center bg-gray-200 text-center drop-shadow-md"
    >
      <div class="bg-gray-500">
        <img
          class="object-cover h-48"
          src="https://images.unsplash.com/photo-1544725121-be3bf52e2dc8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2067&q=80"
          alt="Servicio"
        />
      </div>
      <h1 class="mt-4 font-bold">Equipo para el trabajo</h1>
      <p class="mt-4 text-sm">Contamos con las herramientas necesarias el
        servicio que busca</p>
      <div class="text-blue-500 hover:underline m-8 text-sm">
        <a href="/carrito">Comprar ahora</a>
      </div>
    </div>
    <div
      class="flex flex-col items-center bg-gray-200 text-center drop-shadow-md"
    >
      <div class="bg-gray-500">
        <img
          class="object-cover h-48"
          src="https://images.unsplash.com/photo-1615238168944-6ed817aeb4ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODd8fHRlY2huaWNhbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60"
          alt="Servicio"
        />
      </div>
      <h1 class="mt-4 font-bold">Simplifique su infraestructura</h1>
      <p class="mt-4 text-sm">La mayoría de los responsables de la toma de
        decisiones de TI considera que la TI es ahora más compleja que hace dos
        años</p>
      <div class="text-blue-500 hover:underline m-8 text-sm">
        <a href="/carrito">Comprar ahora</a>
      </div>
    </div>
  </div>
</div>

{{>footer}}