{{>nav}} 

<div class="grid grid-cols-3">
  <div class="bg-gray-200 flex justify-center h-screen">
    <h1 class="text-3xl self-center font-bold">
      Crea una <p class="text-blue-500"> STECH </p>  cuenta
    </h1>
  </div>
  <div class="flex justify-center col-span-2">{{>insertar}}</div>
</div>

{{>footer}} 