<nav> {{>nav}} </nav>
    <div class="w-screen h-32 border-b-2 p-4 border-gray-200 flex items-center font-light">
       <p class="text-4xl p-4"> Términos de uso </p>
    </div>
    <div class="grid grid-cols-3">
        <div>
    <h1 class="col-span-1 flex flex-col text-3xl text-center m-2 font-bold"> Fecha: 20/02/2020 </h1>
        </div>
        <div class="flex m-4 col-span-2 flex-col">
        <h1 class="font-bold text-xl"> Visión General </h1>
        <br>
        <span> 
            Los siguientes términos son parte de un acuerdo entre usted e IBM. Al acceder o usar este sitio, usted reconoce que ha leído, entendido y acepta las disposiciones de estos términos y el cumplimiento de todas las leyes y reglamentaciones aplicables, incluso las leyes y reglamentaciones sobre el control de exportación y reexportación.  <br> Si usted no está de acuerdo con estos términos, no utilice este sitio.

IBM puede, sin previo aviso, en cualquier momento, modificar las presentes condiciones de uso y cualquier otra información contenida en este sitio. IBM también puede efectuar mejoras o cambios a los productos, servicios o programas descritos en este sitio en cualquier momento sin previo aviso.
        <br><br>
        <h1 class="font-bold text-xl"> General </h1>
        <br>
Este sitio contiene avisos de propiedad e información de derechos de autor, cuyos términos deben observarse y seguirse. Consulte la pestaña con el título “Información sobre derechos de autor y marcas registradas” para obtener información relacionada.

IBM le concede un permiso limitado, no exclusivo, intransferible para acceder y exhibir las páginas Web en este sitio como un cliente o cliente potencial de IBM siempre y cuando cumpla con estos Términos de Uso, y todos los derechos de autor, marcas registradas y otros avisos de propiedad permanecen intactos. Usted sólo puede utilizar un rastreador para rastrear este sitio, según lo permitido por el protocolo robots.txt de este sitio, e IBM puede bloquear cualquiera de los rastreadores a su entera discreción. El uso autorizado en virtud de este acuerdo no es de naturaleza comercial (por ej.: usted no puede vender el contenido al que acceda en o a través de este sitio). <br><br> Queda prohibido cualquier otro uso de este sitio.

Excepto para el permiso limitado estipulado en el párrafo anterior, IBM no le concede ningún derecho o licencia explícita o implícita bajo ninguna patente, marca registrada, derecho de autor, u otros derechos de propiedad o propiedad intelectual. Usted no puede duplicar ninguna parte del contenido de este sitio en otro sitio Web o en cualquier otro medio. Cualquier software y otros materiales que se encuentren disponibles para su descarga, acceso u otra utilización de este sitio con sus propios términos de licencia se regirán por tales términos, condiciones y avisos. El incumplimiento de tales términos o cualquiera de los términos en este sitio resultará en la terminación automática de cualquier derecho que se le haya otorgado, sin previo aviso, y usted deberá destruir inmediatamente todas las copias del material descargado en su posesión, custodia o control.
<br><br>
<h1 class="font-bold text-xl ">  Declaración de límite de responsabilidad </h1>
<br>
De vez en cuando, este sitio Web puede contener imprecisiones técnicas o errores tipográficos, y no garantizamos la exactitud de la información publicada. Por favor confirme si está usando las páginas más actualizadas en este sitio Web, así como la precisión e integridad de la información antes de utilizarla para la toma de decisiones relacionadas con los servicios, productos u otros temas descritos en este sitio. <br> <br>

En el caso de que alguna autoridad judicial competente determine que algún término de estos Términos de Uso no se pueda hacer cumplir en algún caso, la vigencia del resto de estos Términos de Uso no se verá afectada, siempre y cuando tal incumplimiento no afecte materialmente los derechos de las partes en virtud de los presentes Términos de Uso.

Prospectiva y declaraciones cautelares
Excepto por la información histórica y discusiones, las declaraciones establecidas a través de este sitio pueden constituir declaraciones prospectivas a los efectos de la Ley de Reforma de Litigios sobre Valores Privados ("Private Securities Litigation Reform") de 1995 u otras leyes aplicables. Estas declaraciones implican una serie de riesgos, incertidumbres y otros factores que podrían causar que los resultados reales difieran materialmente, como se comenta en las presentaciones de la compañía ante la "Securities and Exchange Commission" de EE.UU. Consulte la pestaña “Registros ante la SEC” debajo de la pestaña “Relaciones con Inversionistas” en este sitio para obtener copias de dichos registros.

<br><br>
<h1 class="font-bold text-xl"> Información Confidencial </h1>
<br>
IBM no desea recibir información confidencial o de su propiedad a través de nuestro sitio Web. Tenga en cuenta que cualquier información o material enviada/o a IBM se considerará como NO confidencial. Al enviar cualquier información o material a IBM, usted concede a IBM una licencia sin restricciones, irrevocable para copiar, reproducir, publicar, subir, transmitir, distribuir, exhibir públicamente, realizar, modificar, crear obras derivadas, y de otra manera utilizar libremente, esos materiales o información. Usted también acepta que IBM pueda usar cualquier idea, conceptos, know-how, o técnicas que usted nos envíe para cualquier propósito. Sin embargo, no publicaremos su nombre ni haremos público el hecho de que usted nos remitió materiales u otra información, a menos que: (a) obtengamos su permiso para utilizar su nombre; o (b) le notifiquemos antes que los materiales u otra información que remita a una parte específica de este sitio se publicarán o, de algún otro modo, utilizarán su nombre; o (c) estemos obligados a hacerlo por ley. La Información de identificación personal que usted envíe a IBM, con el fin de recibir productos o servicios, se manejará de acuerdo con nuestras políticas de privacidad. Consulte la pestaña con el nombre “Privacidad” para obtener información relacionada con las políticas de privacidad de IBM.

<br><br>
<h1 class="font-bold text-xl"> Derechos restringidos </h1>
<br>
IBM proporciona el software descargado desde este sitio web a los usuarios del Gobierno de los EE.UU. con "DERECHOS RESTRINGIDOS". El uso, reproducción o divulgación están sujetos a las restricciones establecidas en el contrato GSA ADP Schedule de IBM.
<br><br>
<h1 class="font-bold text-xl"> Disponibilidad global </h1>
<br>
La información que IBM publica en Internet puede contener referencias o referencias cruzadas a los productos, programas y servicios de IBM que no son anunciados o no están disponibles en su país. Tales referencias no significan que IBM tiene la intención de anunciar o colocar a disposición tales productos, programas o servicios en su país. Consulte a su contacto comercial local de IBM para obtener más información con respecto a los productos, programas y servicios que puedan estar disponibles para usted.

<br><br>
<h1 class="font-bold text-xl"> Relaciones de negocio </h1>
<br>
Este sitio Web puede proporcionar enlaces o referencias a sitios Web y a recursos que no sean de IBM. IBM no efectúa declaraciones, garantías, u otros compromisos o endosos de ningún tipo sobre ningún sitio Web que no sea de IBM o de recursos de terceros (incluyendo cualquier sitio Web de Lenovo) a los que se pueda hacerse referencia, accesible desde o vinculados a cualquier sitio de IBM. Asimismo, IBM no forma parte de o es responsable de cualquier transacción que usted pueda pactar con terceros, incluso si usted sabe de tales partes (o utiliza un enlace para tales partes) de un sitio de IBM. Cuando usted accede a un sitio Web que no es de IBM, incluso uno que pueda contener el logotipo de IBM, comprenda que es independiente de IBM y que IBM no controla el contenido de dicho sitio. Depende de usted tomar precauciones para protegerse de los virus, gusanos, caballos de Troya, y otros programas potencialmente destructivos, y proteger su información.

<br><br>
<h1 class="font-bold text-xl"> Enlaces de este sitio </h1>
<br>
IBM otorga el consentimiento solamente a enlaces a este sitio Web en el cual el enlace y las páginas que se activan a través del enlace no: (a) creen tramas alrededor de cualquier página en este sitio o utilicen otras técnicas que alteren de algún modo la presentación visual o apariencia de cualquier contenido de este sitio; (b) desvirtúen su relación con IBM; (c) impliquen que IBM aprueba o endosa, su sitio, o su servicio u ofertas de productos; y (d) presenten impresiones falsas o engañosas acerca de IBM o de cualquier otra manera perjudiquen las buenas relaciones asociadas al nombre o marcas registradas de IBM. Como condición adicional para obtener permiso para acceder a este sitio, usted acepta que IBM pueda en cualquier momento, a su única discreción, cancelar el permiso para acceder a este sitio Web. En tal caso, usted acepta eliminar inmediatamente todos los enlaces a este sitio Web y cesar cualquier uso relacionado con las marcas registradas de IBM.
        </span>

</div>
    </div>

<footer> {{>footer}} </footer>