{{>nav}}

<div class="userCar01 flex justify-center items-center bg-gray-200 m-6" style="padding: 20px;">
  <span class="text-2xl m-6 flex font-medium" style="margin-right: 50px;">Tu Carrito</span>
  <ul>
    <li style="margin-bottom: 20px;">
      <p class="text-m text-black-400 font-bold">Soporte profesional</p>
      <p>Precio: $1,999</p>
      <button id="product01" class="text-blue-500 hover:underline">Añadir</button>
    </li>
    <li style="margin-bottom: 20px;">
      <p class="text-m text-black-400 font-bold">Equipo para el trabajo</p>
      <p>Precio: $2,999</p>
      <button class="text-blue-500 hover:underline" id="product02">Añadir</button>
    </li>
    <li style="margin-bottom: 20px;">
      <p class="text-m text-black-400 font-bold">Manejo de infraestructura</p>
      <p>Precio: $999</p>
      <button class="text-blue-500 hover:underline" id="product03">Añadir</button>
    </li>
    <p id="precioTotal" class="text-2xl m-6 flex font-medium">Precio Total: $0</p>
  </ul>
</div>

<form id="form-checkout" class="userCar01 flex justify-center items-center bg-gray-200 m-6" style="padding: 20px;">
  <input id="MP_PUBLIC_KEY" hidden type="text" value={{MP_PUBLIC_KEY}}>
  <p class="text-2xl m-6 flex font-medium">Pagar con tarjeta de crédito</p>
  <div class="flex justify-center flex-col gap-5 items-center bg-gray-200 m-6">
    <input id="MP_PUBLIC_KEY" hidden type="text" value={{MP_PUBLIC_KEY}}>
    <input type="text" style="padding: 5px" name="cardNumber" id="form-checkout__cardNumber" />
    <input type="text" style="padding: 5px" name="cardExpirationDate" id="form-checkout__cardExpirationDate" />
    <input type="text" style="padding: 5px" name="cardholderName" id="form-checkout__cardholderName" />
    <input type="email" style="padding: 5px" name="cardholderEmail" id="form-checkout__cardholderEmail" />
    <input type="text" style="padding: 5px" name="securityCode" id="form-checkout__securityCode" />
    <select name="issuer" id="form-checkout__issuer"></select>
    <input style="padding: 5px" type="text" name="identificationNumber" id="form-checkout__identificationNumber" />
    <select name="installments" id="form-checkout__installments"></select>
    <button type="submit" id="form-checkout__submit"
      class="bg-blue-500 text-white h-10 self-center p-2 hover:bg-blue-600 duration-200 cursor-pointer">Pagar</button>
    <progress value="0" class="progress-bar">Cargando...</progress>
  </div>
</form>

<form id="form-oxxo" class=" userCar01 flex justify-center items-center bg-gray-200 m-6" style="padding: 20px;">
  <p class="text-2xl m-6 flex font-medium">Pagar por OXXO</p>
  <input style="padding: 5px" type="email" name="cardholderEmail" id="form-oxxo__cardholderEmail" placeholder="E-mail"
    class="border-gray-300 border-b-2  bg-gray-50" />
  <button type="submit" id="form-oxxo__submit"
    class="bg-blue-500 text-white h-10 self-center p-2 hover:bg-blue-600 duration-200 cursor-pointer"
    style="margin-left: 20px;">Pagar</button>
</form>

<div style="display: none" id="successContainer" class="flex justify-center items-center bg-blue-500 m-6" style="padding: 20px;">
  <p class="text-2xl m-6 flex font-medium text-white">¡Gracias Por Tu Compra!</p>
</div>

<div id="errorContainer" style="background-color: red !important; display: none" class="flex justify-center items-center m-6 " style="padding: 20px;" >
  <p class="text-2xl m-6 flex font-medium text-white text-center" style="text-align: center !important">¡Hubo un error al realizar tu compra!</p>
</div>

<script src="https://sdk.mercadopago.com/js/v2"></script>
<script src="/javascripts/mercadopago.js"></script>

{{>footer}}