<script src="/javascripts/sweetalert2.min.js"></script>
<link rel="stylesheet" href="/stylesheets/sweetalert2.css">

{{>nav}}


<div id="car" class="crt userCar01 m-6 flex items-center justify-center bg-gray-200">
  <div class="mt-2">
    <span class=" text-center text-2xl font-medium">
      <p>Tu carrito</p>
    </span>
    <div class="grid grid-cols-2">
      <section class="app bg-blue-300">
        <i class="fa fa-rocket"></i>
        <article class="feature1">
          <input type="checkbox" id="product01" />
          <div>
            <span>
              <p class="text-m text-black-400 font-bold">Soporte profesional</p>
              <p>Precio: $1,999</p>
            </span>
          </div>
        </article>

        <article class="feature2">
          <input type="checkbox" id="product02" />
          <div>
            <span>
              <p class="text-m text-black-400 font-bold">Equipo para el trabajo</p>
              <p>Precio: $2,999</p>
            </span>
          </div>
        </article>

        <article class="feature3">
          <input type="checkbox" id="product03" />
          <div>
            <span>
              <p class="text-m text-black-400 font-bold">Manejo de infraestructura</p>
              <p>Precio: $999</p>
            </span>
          </div>
        </article>
      </section>
      <div class="flex h-full flex-col self-center bg-green-200 p-2">
        <p id="precioTotal" class="text-2xl font-medium">Precio Total: $0</p>
        <br />
        <p class="text-2xl font-medium" style="margin-bottom: 5px;">Pagar con:</p>
        <button class="bF" id="bMP">
          <span class="label">Mercado Pago</span>
          <span class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
              <path fill="none" d="M0 0h24v24H0z"></path>
              <path fill="currentColor"
                d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path>
            </svg>
          </span>
        </button>
        <div>
          <button class="bF" id="bOXXO">
            <span class="label">OXXO</span>
            <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path fill="currentColor"
                  d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path>
              </svg>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<form id="form-checkout" class="fMP userCar01 m-6 flex flex-col items-center justify-center bg-gray-200 hidden"
  style="padding: 20px;">
  <input id="MP_PUBLIC_KEY" hidden type="text" value="{{MP_PUBLIC_KEY}}" />

  <div class="grid grid-cols-2">
    <div class="flex flex-col items-center justify-center">
      <button class="bF" id="back">
        <span class="label">Atrás</span>
      </button>
      <p class="m-6 flex text-2xl font-medium text-center">Pagar con tarjeta de crédito</p>
      <div class="text-2xl font-medium text-center" id="UCar"><br></br> </div>
      <p id="tot1" class="text-2xl font-medium m-6">Total a Pagar: $0</p>
    </div>
    <div class="m-6 flex flex-col items-center justify-center gap-5 bg-gray-200">
      <input id="MP_PUBLIC_KEY" hidden type="text" value="{{MP_PUBLIC_KEY}}" />
      <input type="text" required style="padding: 5px" name="cardNumber" id="form-checkout__cardNumber" />
      <input type="text" required style="padding: 5px" name="cardExpirationDate"
        id="form-checkout__cardExpirationDate" />
      <input type="text" required style="padding: 5px" name="cardholderName" id="form-checkout__cardholderName" />
      <input type="email" required style="padding: 5px" name="cardholderEmail" id="form-checkout__cardholderEmail" />
      <input type="text" required style="padding: 5px" name="securityCode" id="form-checkout__securityCode" />
      <select name="issuer" required id="form-checkout__issuer"></select>
      <input style="padding: 5px" required type="text" name="identificationNumber"
        id="form-checkout__identificationNumber" />
      <select name="installments" id="form-checkout__installments"></select>
      <button type="submit" id="form-checkout__submit"
        class="h-10 cursor-pointer self-center bg-blue-500 p-2 text-white duration-200 hover:bg-blue-600">Pagar</button>
      <progress value="0" class="progress-bar">Cargando...</progress>
    </div>
  </div>
</form>


<form id="form-oxxo" class="fOXXO userCar01 m-6 flex flex-col items-center justify-center bg-gray-200 hidden"
  style="padding: 20px;">
  <button class="bF p-1" id="back">
    <span class="label">Atrás</span>
  </button>
  <p class="m-6 flex p-1 text-2xl font-medium">Pagar por OXXO</p>
  <div class="text-2xl font-medium text-center" id="UCar2"><br></br> </div>
  <p id="tot2" class="p-1 text-2xl font-medium m-6">Total a Pagar: $0</p>
  <div>
    <input class="mt-2" style="padding: 5px" type="email" name="cardholderEmail" id="form-oxxo__cardholderEmail"
      placeholder="E-mail" class="border-b-2 border-gray-300 bg-gray-50" />
    <button type="submit" id="form-oxxo__submit"
      class="h-10 cursor-pointer self-center bg-blue-500 p-2 text-white duration-200 hover:bg-blue-600"
      style="margin-left: 20px;">Pagar</button>
  </div>
</form>


<div id="successContainer" class="flex flex-col justify-center bg-blue-500 m-6"
  style="display: none; align-items: flex-start;">
  <p id="successText" class="text-2xl m-6 font-medium text-white">¡Gracias Por Tu Compra!</p>
  <a href="/" class="bg-white p-2 hover:bg-blue-600 hover:text-white duration-200"
    style="margin-left: 20px; margin-bottom: 20px; display:inline-block;">Inicio</a>
</div>

<script src="https://sdk.mercadopago.com/js/v2"></script>
<script src="/javascripts/mercadopago.js"></script>

{{>footer}}