@media only screen and (max-width: 720px) {
  .navbar {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    height: auto;
    gap: 10px;
  }

  .navbar ul {
    width: 80%;
    margin: 0 auto;
  }

  .navbar > div:last-child {
    margin: 10px;
  }
}

@media only screen and (max-width: 720px) {
  .news {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 720px) {
  .dialogs > div:first-child {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 720px) {
  .search {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .search > div:first-child h1 {
    width: 100%;
  }
}

@media only screen and (max-width: 720px) {
  .custom-footer {
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  .custom-footer {
    margin: 0;
  }

  .custom-footer a:last-child {
    margin-bottom: 1.5rem;
  }
}
